* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle at top, #020617, #000);
  color: white;
}

.game-container {
  text-align: center;
}

h1 {
  margin-bottom: 10px;
  font-size: 28px;
  color: #38bdf8;
}

#scoreboard {
  margin-bottom: 10px;
  font-size: 20px;
  color: #f43f5e;
}

canvas {
  background: #111;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 0 auto;
}

.why {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: 60px;
  background: #ffffff;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 32px;
  font-weight: bold;
  color: #111;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transition: left 0.05s, transform 0.05s;
  animation: pulse 2s infinite;
}

/* Simple pulsing animation */
@keyframes pulse {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.16);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}
.gameOver-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gmmeOverImage {
  height: 50px;
  width: 50px;
}

.whyOver {
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-align: center;

  /* Gradient text */
  color: #f43f5e;

  /* Glow effect */
  text-shadow: 0 0 10px rgba(56, 189, 248, 0.6), 0 0 25px rgba(34, 197, 94, 0.4);

  letter-spacing: 4px;
  margin: 20px 0;
}
